# compiled output
/dist
node_modules
*/node_modules
__pycache__

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Environment

**/.deployed_contract
*.env
*.*env
*passfile
.pg_service.conf
