body {
	background-color: #f4f4f4;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
	margin: 0 auto;
	background-color: black;
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

.intra {
	color: #f4f4f4;
	font-size: large;
	font-weight: bold;
	padding: 10px 100px;
	border-radius: 15px;
	background-color: #00babc;
}

.nav-pills .active {
	background-color: #00babc !important;
}

.input {
	width: 400px ;
}

.nav-link {
	cursor: pointer;
}

.hide {
	display: none;
}


.error {
	color: red;
}