body {
	background-color: #f4f4f4;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
	margin: 0 auto;
	background-color: black;
}

.nav-pills .active {
	background-color: #00babc !important;
}

.input {
	width: 400px ;
}

.nav-link {
	cursor: pointer;
}

.error {
	opacity: 1;
	position: absolute;
	top: 10%;
	left: 20%;
	min-width: 40%;
	padding: 20px;
	border-radius: 14px;

	background-color: #dc3545;
	color: #ffffff;
	transition: opacity 1s;
}

.hide {
	opacity: 0;
}

.custom-select {
	position: relative;
	font-size: 1.15rem;
	color: #000;
}

.option-container {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 100%;
}

.option {
	border-radius: 0.25rem;
	cursor: pointer;

	background-size: contain;
	background-repeat: no-repeat;
    width: 100%;
    height: 0;

	margin: 0.5rem 0;
    padding-top: 75%; /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */
}

.select-button {
	width: 40px;
	height: 0;
	padding-top: 75%;

	background-color: #fff;
	border-radius: 0.25rem;
	cursor: pointer;

	background-size: contain;
	background-repeat: no-repeat;
}

.selected-value {
	text-align: left;
}
