<!-- {% load static %}
<!DOCTYPE html>
<html>

<head>
	<style>
		button {
			padding: 10px;
			background-color: blueviolet;
		}
	</style>
</head>

<body>
	<button id="login">Login</button>
	
	<script src="{% static 'script/script.js' %}"></script>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <title>Localization Project</title>
</head>
<body>
    <ul>
		{% for student in students %}
			<li>
				<a href="{{ student.name }}">link</a>
				<img src="{{ student.photo }}" alt="" srcset="">
			</li>
		{% endfor %}
	</ul>
</body>
</html>
